alias reload="source ~/.zshrc"

alias vi="nvim"

alias gs="git status"
alias gl="git log"
alias gb="git branch"
alias gc="git checkout"
alias gadd="git add -u"
alias gaddll="git add -A"
alias gamend="git commit --amend --no-edit"
alias gamendmsg="git commit --amend -m"
alias gcai="$HOME/.dotfiles/scripts/ai-commit.sh"

alias tf="terraform"

alias zconf="nvim ~/.zshrc"
alias viconf="cd ~/.config/nvim && nvim ."
alias wconf="vi ~/.wezterm.lua"

TMUX_CONF=~/.config/tmux/tmux.conf
alias tconf="nvim $TMUX_CONF"
alias treload="tmux source-file $TMUX_CONF"

alias ls="eza --icons=always"

code() {
    cd "$HOME/Projects/$1"
    vi .
};
